:2020 {

	root * /Users/peterpuha/Code/site

	file_server
	templates

	rewrite / /templates/index.html
	rewrite /index /templates/index.html
	rewrite /about /templates/about.html
	rewrite /arak /templates/costs.html
	rewrite /aktualis /templates/actual.html

	log {
		output file var/log/caddy/access.log
	}
}
