<head>
    <title>Simonka Enikő</title>
   {{ include "templates/header.html" }}
</head>


<body style="font-family: Roboto, Light 300;">
    {{ include "templates/nav.html" }}
    <div class="row self-empty-row-3"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-5">
                <div class="row justify-content-center">
                    <img src="/static/images/simonka-eniko.jpg" class="img-responsive" alt="Simonka Enikő" height="600", width="400">
                </div>
                <div class="row self-empty-row-1"></div>
            </div>
            <div class="col-lg-7">
                <div class="jumbotron self-bg-primary">
                    <h1><small><strong>Simonka Enikő vagyok</strong>,</small></h1>
                    <div class="self-empty-row-1"></div>
                    <p>
                        mentálhigiénés szakemberként
                        <strong>a lelki egészséggel foglalkozom.</strong>
                        Tanácsadásaimmal a pszichés egyensúly megteremtéséhez,
                        fenntartásához és a <strong>lelki rugalmassság</strong> eléréséhez nyújtok segítséget
                        személyre szabott módszerekkel.
                    </p>
                    <p>
                        <strong>2011-től</strong> éveken keresztül a Magyar Lelki Elsősegély Telefonszolgálatok Országos Szövetségénél
                        <strong>tartottam mentálhigiénés segítő beszélgetéseket</strong> a legkülönbözőbb élethelyzetekben lévő embereknek.
                        Számtalan nehéz életutat ismertem meg, fájdalmas és olykor felemelő pillanatokban volt részem.
                    </p>
                    <p>
                        Mentálhigiénikusként <strong>holisztikus látásmóddal</strong> támogatom a hozzám fordulókat.
                        A testi-lelki-szellemi egységet szem előtt tartva kísérem klienseimet
                        a lelki harmónia felé vezető úton.
                    </p>
                    <p>
                        Szabadidőmben szeretek a természet és a zene által feltöltődni.
                        Futok, kirándulok, operát, klasszikus zenét, jazzt hallgatok.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{{ include "templates/footer.html" }}
