<head>
    <title>Árak</title>
    <meta name="description" value="Mentálhigiénés tanácsadás és csoportfoglalkozás árak">
    {{ include "templates/header.html" }}
</head>

<body style="font-family: Roboto, Light 300;">
    {{ include "templates/nav.html" }}
    <div class="col-lg-8">
        <div class="row self-empty-row-3"></div>
        <div class="container h-100">
            <div class="jumbotron self-bg-primary">
                <h1> Árak: </h1>
                <div class="row self-empty-row-2"></div>
				<div class="row mb-3">
                    <div class="col-6">
                        Mentálhigiénés tanácsadás, autogén tréning <strong>személyesen</strong>
                    </div>
                    <div class="col-3">
                        60 perc
                    </div>
                    <div class="col-3">
                        Megbeszélés szerint
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        Mentálhigiénés tanácsadás, autogén tréning <strong>online</strong>
                    </div>
                    <div class="col-3">
                        60 perc
                    </div>
                    <div class="col-3">
                        Megbeszélés szerint
                    </div>
                </div>
                <div class="row self-empty-row-1"></div>
                <div class="row">
                    <p> *A mentálhigiénés tanácsadásokhoz előzetes időpontfoglalás szükséges <a href="#kapcsolat"><strong>telefonon, emailben, vagy Facebook-on.</strong></a></p>
                </div>
                <div class="row self-empty-row-1"></div>
            </div>
        </div>
        <div class="row self-empty-row-1"></div>
    </div>
</body>
{{ include "templates/footer.html" }}
