{{ include "templates/header.html" }}
<body style="font-family: Roboto, Light 300;">
    {{ include "templates/nav.html" }}
    <div class="container mt-5 mb-5 ml-xs-0">
        <div class="card" style="width: 400px">
            <img class="card-img-top" src="/static/images/covid.png" alt="covid">
            <div class="card-body">
                <h1 class="card-title text-center"><small> Vírusbarát beszélgetések csoport indul! </small></h1>
                <div class="row mt-4">
                    <ul>
                    <li><p class="card-text h5">  hogy nyugodtan léphessen ki az utcára </p></li>
                    <li><p class="card-text h5">  hogy helyén kezelhesse a híreket </p></li>
                    <li><p class="card-text h5">  hogy kialaktíthasson egy vírusbarát attitűdöt </p></li>
                    <li><p class="card-text h5">  hogy erőt adhasson családtagjainak, barátainak </p></li>
                    <li><p class="card-text h5">  hogy átgondolhassa a prioritásait </p></li>
                    <li><p class="card-text h5">  hogy ilyen helyzetben is örömöt tudjon lelni a mindennapjaiban </p></li>
                </ul>
                </div>
                <div class="row justify-content-center">
                    <a href="#kapcsolat" class="card-link"><p class="h5"> Jelentkezzen most! </p></a>
                </div>
            </div>
            <div class="card-footer self-bg-tertiary">
                <h4>
                    Szeretettel várom hétfőtől szombatig előre egyeztetett időpontban,
                    online vagy a szabadban kis csoportban vagy egyénileg!
                </h4>
            </div>
        </div>
    </div>
</body>
{{ include "templates/footer.html" }}