{{ include "templates/header.html" }}
<body style="font-family: Roboto, Light 300;">
    {{ include "templates/nav.html" }}
    <div class="col-lg-6">
        <div class="row self-empty-row-3"></div>
        <div class="container h-100">
            <div class="jumbotron self-bg-primary">
                <h1> Árak: </h1>
                <div class="row self-empty-row-2"></div>
                <div class="row mb-3">
                    <div class="col-6">
                        Mentálhigiénés tanácsadás <strong>személyes jelenléttel a debreceni irodában</strong>
                    </div>
                    <div class="col-3">
                        50 perc
                    </div>
                    <div class="col-3">
                        6000 Ft.
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        Mentálhigiénés tanácsadás <strong>online jelenléttel</strong>
                    </div>
                    <div class="col-3">
                        50 perc
                    </div>
                    <div class="col-3">
                        6000 Ft.
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        Csoportos tréning <strong>személyes jelenléttel a debreceni irodában</strong>
                    </div>
                    <div class="col-3">
                        90 perc
                    </div>
                    <div class="col-3">
                        3000 Ft.
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        Csoportos tréning <strong>online jelenléttel</strong>
                    </div>
                    <div class="col-3">
                        90 perc
                    </div>
                    <div class="col-3">
                        3000 Ft.
                    </div>
                </div>
                <div class="row self-empty-row-1"></div>
                <div class="row">
                    <p> *A mentálhigiénés tanácsadásokhoz előzetes időpontfoglalás szükséges <a href="#kapcsolat"><strong>telefonon, emailben, vagy Facebook-on.</p></a>
                </div>
            </div>
        </div>
        <div class="row self-empty-row-1"></div>
    </div>
</body>
{{ include "templates/footer.html" }}