<footer id="kapcsolat" class="footer">
    <div class="jumbotron self-bg-primary">
        <div class="row">
            <div class="col-lg-3">
                <h5> Kapcsolat: </h5>
                <div class="row self-empty-row-1"></div>
                <div class="row">
                    <div class="col-2 align-self-center">
                        <i class="fa fa-phone circle self-bg-tertiary"></i>
                    </div>
                    <div class="col-10">
                        <div class="row"></div>
                        <p><strong>{{env "TEL"}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 align-self-center">
                        <i class="fa fa-envelope circle self-bg-tertiary"></i>
                    </div>
                    <div class="col-10">
                        <div class="row"></div>
                        <p><strong>{{env "EMAIL"}}</strong></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 mr-3 align-self-center">
                        <a class="fa fa-facebook circle" href="https://www.facebook.com/{{env "FB_NAME"}}" style="background: #3B5998;"></a>
                    </div>
                    <div class="col-1 mr-3 align-self-center">
                        <a class="fa fa-instagram circle" href="https://www.instagram.com/{{env "INSTA"}}" style="background: #3B5998;"></a>
                    </div>
                    <div class="col-1 align-self-center">
                        <a class="fa fa-skype circle" href="skype:live:.cid.{{env "SKYPE"}}" style="background: #3B5998;"></a>
                    </div>
                </div>

                <div class="row self-empty-row-2"></div>
                <div class="row ml-1">
                    <p><strong>Adószám: {{env "TAX_NUMBER"}}</strong> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-lg-4 offset-lg-8">
            <div class="row justify-content-center">
                <p> Copyright &#169 2020 Minden jog fenntartva </p>
            </div>
            <div class="row justify-content-center">
                <p><strong>Puha Péter</strong></p>
            </div>
            <div class="row justify-content-center">
                <p>puhap87@gmail.com</p>
            </div>
        </div>
    </div>
    <script>
        $(".nav-link").on("click", function(){
            $(".navbar-nav").find(".active").removeClass("active");
            $(this).addClass("active");
        });
    </script>
</footer>
