{{ include "templates/header.html" }}
<body style="font-family: Roboto, Light 300;">
    {{ include "templates/nav.html" }}
    <style>
        .bg {
            background-image: url("/static/images/bukk-haromko.jpg");
            height: 700px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <section id="folap">
        <div class="jumbotron text-center self-bg-primary mt-5 mb-0">
            <h1>Mentálhigiénés tanácsadás<br/><small>Segítség a lelki nehézségek leküzdéséhez</small></h1>
        </div>
        <div class="container-fluid bg">
            <div class="row" style="height: 200px"></div>
            <div class="row justify-content-center">
                <div class="col-sm-4">
                    <blockquote class="blockquote text-center">
                        <p class="h2 text-light">“A boldogság forrása nem rajtunk kívül, hanem bennünk van.”</p>
                        <footer class="blockquote-footer"><cite><p class="h4 text-light">Lev Tolsztoj</p></cite></footer>
                    </blockquote>
                    <div class="row" style="height: 200px">
                        <div class="col text-center">
                            <form method="get" action="/about">
                                <input type="submit" class="btn self-bg-tertiary input-lg" value="Kapcsolat" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="szolgaltatasok">
        <div class="row self-empty-row-1"></div>
        <div class="container-fluid self-bg-secondary p-5">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="text-center"> Forduljon hozzám bizalommal, ha: </h2>
                    <div class="jumbotron self-bg-primary mt-5">
                        <ul>
                            <li>
                                <p>Szeretné <strong>testi-lelki egészségét </strong>megőrizni</p>
                            </li>
                            <li>
                                <p> Szeretné megtudni hogyan kezelheti <strong> mindennapi stresszeit</strong> </p>
                            </li>
                            <li>
                                <p> <strong>Érzelmei kifejezésében</strong> szeretne fejlődni </p>
                            </li>
                            <li>
                                <p> Eredményes <strong>konfliktuskezelést</strong> szeretné elsajátítani </p>
                            </li>
                            <li>
                                <p> <strong>Sikeres állásinterjún</strong> szeretne részt venni </p>
                            </li>
                            <li>
                                <p> <strong>Serdülőként</strong> nem tudja merre induljon el az életben </p>
                            </li>
                            <li>
                                <p> Az <strong>önelfogadásban</strong> szeretne segítséget kapni </p>
                            </li>
                            <li>
                                <p> A <strong>másság</strong> elfogadásában igényel támogatást </p>
                            </li>
                            <li>
                                <p> <strong>Nehéz élethelyzetbe </strong>került </p>
                            </li>
                            <li>
                                <p> <strong>Krízisben </strong>van </p>
                            </li>
                            <li>
                                <p> <strong>Magányosnak</strong> érzi magát </p>
                            </li>
                            <li>
                                <p> Vagy csak egyszerűen úgy érzi, hogy jól esne, ha <strong>meghallgatná valaki</strong>  </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center"> Mi történik a mentálhigiénés tanácsadások során? </h2>
                    <div class="jumbotron self-bg-primary mt-5">
                        <h3> Egyéni tanácsadás </h3>
                        <div class="row self-empty-row-1"></div>
                        <p>
                            A lelki egészség, akárcsak a testi egészség megőrizhető és karbantartható.
                            Ma már nem luxus, hanem alapvető emberi igény, amely befolyásolja közérzetünket.
                            Segít abban hogy megküzdjünk a minket ért nehézségekkel, kihívásokkal, hogy jól érezzük magunkat a bőrünkben.
                        </p>
                        <p>
                            Külső szemlélőként rávilágítok problémái lehetséges értelmezéseire,
                            <strong>feltárom belső lelki tartalékait, amelynek segítségével elakadásait elháríthatja</strong>
                            és megerősödve tovább folytathatja útját.
                        </p>
                        <p>
                            Bizalomteli légkörben,
                            értő figyelem mellett zajló, támogató, előítélet-mentes konzultációt biztosítok.
                        </p>
                        <p>
                            Egyéni tanácsadás személyesen: Debrecen, Kossuth u. 11.
                        </p>
                        <div class="row self-empty-row-1"></div>
                        <h3> Csoportos tréningjeim </h3>
                        <div class="row self-empty-row-1"></div>
                        <h4> Életerő tréning</h4>
                        <ul>
                            <li>
                                <p> Stresszes életmódban élőknek </p>
                            </li>
                            <li>
                                <p> Életközépi válságban lévőknek </p>
                            </li>
                            <li>
                                <p> Krízisben lévőknek </p>
                            </li>
                        </ul>
                        <div class="row self-empty-row-1"></div>
                        <h4> Pályaorientációs tréning</h4>
                        <ul>
                            <li>
                                <p> Csoportfoglalkozás fiataloknak </p>
                            </li>
                        </ul>
                        <p>
                            Csoportos tréningjeim személyesen: Debrecen, Kossuth u. 11.
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h2 class="text-center"> Online mentálhigiénés tanácsadás </h2>
                    <div class="jumbotron self-bg-primary mt-5">
                        <p>
                            Az ország minden pontjáról várom klienseimet,
                            egyéni tanácsadásaim és csoportos tréningjeim
                            online felületen is elérhetőek.
                        </p>
                        <p><a href="#kapcsolat">Skype elérhetőségem</a></p>
                    </div>
                    <div class="row self-empty-row-1"></div>
                    <h2 class="text-center"> Mikor nem segíthetek Önnek? </h2>
                    <div class="jumbotron self-bg-primary mt-5">
                        <p>
                            Ha Ön mentális betegséggel él együtt,
                            akkor nagy valószínűség szerint pszichológusra
                            vagy pszichiáter szakorvosra van szüksége.
                        </p>
                        <p>
                            Az egészségügyről szóló 1997. évi CLIV. törvény 103. §-a szerint kijelentem,
                            hogy terápiás gyakorlatot, gyógyító tevékenységet nem folytatok.
                            Kizárólag a mentális egészség állapotában lévő klienseim
                            számára nyújtok életvezetési tanácsadást egyéni vagy kiscsoportos formában.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{{ include "templates/footer.html" }}